{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "@typescript-eslint": "off",
        "@typescript-eslint/eslint-recommended": "off",
        "@typescript-eslint/recommended": "off",
        "@typescript-eslint/no-var-requires" : "off",
        "@typescript-eslint/*": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
